/******Base Styles******/

body {
    position: relative;
    text-align: inherit;
    background-color: black;
}

.section-1 {
    position: relative;
    padding: 3px 8px;
    margin: 2px 5px 8px 2px;


}

form {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    color: white;
    font-family:'Lucida Sans', 'Lucida';
    text-align: center;
    font-weight: 600;
}

nav {
    display: space-between;
    color: white;
    position: relative;
    font-size: 24px;
    font-weight: 700;

}

ul li {
    position: relative;
    display: inline;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

main {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: space-around;
}



/****** Header Styles ******/

h1 {
    font-size: 42px;
    color: white;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 10px 5px 25px 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url("img\landmark-solid.svg");
}

/****** Page Content ******/

p {
    position: relative;
    padding: 15px 8px;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
    color: white;
    flex-flow: column-reverse;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
}

/****** About! ******/

.list-container {
        position: sticky;
        color: white;
        box-sizing: auto;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        border-style: double;
        font-size: 20px;
        color:white;
    }

ul li {
    display: flex;
    position: relative;
    font-family: 'Playfair Display', serif;
    list-style-type: upper-roman;
    text-align: justify;
    flex-flow: row wrap;
}

/****** Contact! ******/

footer {
    font-weight: 700;
    color: ghostwhite;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    background-color: black;
}

/****** Mobile & Tablet ******/

@media screen and (min-width: 786px) {
    h1 {
        font-size: 3em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }

}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }
}