/******Base Styles******/

body {
    background-color: black;
    text-align: center;
    color: white;
}

.section-1 {
    position: absolute;
    background-size: cover;
    padding: 3px 8px;
    margin: 2px 5px 8px 2px;

}

nav {
    display: inline-block;
    color: white;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    background-color: black;

}

ul li 
:hover {
    scrollbar-highlight-color: goldenrod;
    position: relative;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

form {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    color: dodgerblue;
    font-family:'Lucida Sans', 'Lucida';
    text-align: justify;
    font-weight: 600;
}

main {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: space-between;
}



/****** Header Styles ******/

h1 {
    font-size: 4em;
    color: whitesmoke;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
    margin: 10px 5px 25px 45px;
    font-family: 'IBM Plex Sans', sans-serif;
}

/****** Page Content ******/

p {
    position: relative;
    padding: 15px 8px;
    display: flex;
    font-size: 1.5em;
    color: wheat;
    flex-flow: column-reverse;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-evenly;
}

.list-container {
        position: relative;
        color: white;
        box-sizing: auto;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        border-style:inset;
        font-size: 20px;
        color:white;
    }

ul li {
    display: inline-flex;
    position: relative;
    font-family: 'Playfair Display', serif;
    touch-action: pinch-zoom;
    list-style-type: upper-roman;
    text-align: justify;
    flex-flow: row wrap;
}

link {
    text-shadow: red;
    text-decoration: underline;
}

footer {
    font-weight: 700;
    color: ghostwhite;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    background-color: black;
}

@media screen and (min-width: 786px) {
    h1 {
        font-size: 3em;

    }

}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }
}