html {
    height: 100%;
}

body {
    color: black;
    background: url('wow.png');
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    padding: 0 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: black;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    align-content: center;
}

p {
    color: black;
    font-family: 'Unbounded', cursive;
    font-size: 3em;
}


@media screen and (min-width: 786px) {
    h1 {
        font-size: 3em;

    }

}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }
}